<div class="page">
  <div class="products">
    <div class="card" style="width: 18rem;">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCjfjvEkLqBvI8E3mAig6D5F3ZEi6WPTlek_uNew03s-DtvZcaSl6JH1_gI1Zk9H88Ypg&usqp=CAU"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Por Favor Andrea ¿Me perdonas?</h5>
        <p class="card-text">Si te he fallado, te pido perdón,
          De la única forma que sé,
          Abriendo las puertas de mi corazón,
          Para cuando decidas volver</p>
        <a href="#" id="btn-success" [ngStyle]="{'padding': successPadding, 'font-size': successFontSize}"
          class="btn btn-success">Si</a>
        <a href="#" id="btn-danger" (click)="handleClick($event)" class="btn btn-danger"
          [ngStyle]="{'padding': dangerPadding, 'font-size': dangerFontSize}">No</a>
      </div>
    </div>
  </div>
</div>