/* styles.css */
body {
    font-size: 16px; /* Tamaño base de la fuente */
}

.page {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem auto; /* Usando rem para márgenes */
    justify-content: center;
    width: 90%;
    box-sizing: border-box;
}

.card {
    flex: 1 1 calc(33% - 1rem); /* Usando rem para márgenes */
    box-sizing: border-box;
    margin: 1rem;
}

.card-body {
    text-align: center;
    padding: 1rem;
}

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    border-radius: 0.25rem; /* Usando rem para bordes redondeados */
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    padding: 0.75rem 1.25rem; /* Usando rem para padding */
}

.btn-success {
    background-color: #28a745;
}

.btn-danger {
    background-color: #dc3545;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
    .btn {
        width: 100%;
        padding: 1rem; /* Usando rem para padding */
        font-size: 1.2rem; /* Usando rem para tamaño de fuente */
    }

    .products {
        width: 100%;
        margin: 1.5rem; /* Usando rem para márgenes */
    }

    .card {
        flex: 1 1 100%;
    }
}

/* Estilos para pantallas medianas */
@media (min-width: 601px) {
    .products {
        width: 95%;
        margin: 2rem auto; /* Usando rem para márgenes */
    }

    .card {
        flex: 1 1 calc(33% - 1rem); /* Usando rem para márgenes */
    }
}

/* Estilos para pantallas grandes */
@media (min-width: 1024px) {
    .card {
        flex: 1 1 calc(25% - 1rem); /* Usando rem para márgenes */
    }
}

img {
    max-width: 100%;
    height: auto;
}
